@import url("../styles/immigration-form.css");
@import url("../styles/submitted-page.css");
@import url("../styles/home.css");
@import url("../styles/login-form.css");
@import url("../styles/menu.css");
@import url("../styles/menu-sidebar.css");
@import url("../styles/sidebar-option.css");

/*reset*/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* fonts */

body {
  font-family: var(--font-lato), sans-serif;
}

textarea {
  font-family: var(--font-lato), sans-serif;
  font-size: 16px;
  padding: 8px;
}

textarea::placeholder {
  font-family: var(--font-lato), sans-serif;
  font-size: 16px;
  color: #999;
}
