@import url("../styles/immigration-form.css");
@import url("../styles/submitted-page.css");
@import url("../styles/home.css");

/*reset*/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* fonts */

body {
  font-family: var(--font-lato), sans-serif;
}
